{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<center>
<div class="loginDiv">
	<h1>Login</h1><br><br>
	<form method="post">
		{% csrf_token %}
			<table>
				<tr>
					<td>Phone number</td>
					<td>
						<input type="text" name="username" class="form-control"{% if error %} style="border: 2px solid #ef3434; border-radius: 10px;"{% endif %} placeholder="Phone number" value="{{ username }}" autofocus required>
					</td>
				</tr>
				<tr>
					<td>Password</td><td><input type="password" name="password" class="form-control"{% if error %} style="border: 2px solid #ef3434; border-radius: 10px;"{% endif %} placeholder="Password" required></td>
				</tr>
				{% if error %}
				<tr><td colspan="2"><small class="text-danger">Wrong phone number or password</small></td></tr>
				{% endif %}
				<tr>
					<td colspan="2"><input type="submit" value="Login" class="uB"></td>
				</tr>
			</table>
	</form><br><br>
	<a href="{% url 'registration' %}"><button class="uB">New user</button></a></a>
</div>
</center>
{% endblock %}
